app:
  name: "web_app"
  mode: "dev"
  version: "v1.0"
  start_time: "2023-03-23"
  machine_id: 1
  jwt_secret: "23347$040412"
  resources: "resources/"

http_server:
  port: 9501

log:
  level: "debug"
  filename: "app.log"
  err_filename: "err.log"
  max_size: 200
  max_age: 30
  max_backups: 7
  close_stdout: true

mysql:
  host: "127.0.0.1"
  port: 3306
  user: "root"
  password: "6nv2lxTHDVuQUQN9"
  db_name: "api"
  max_open_conns: 20
  max_idle_conns: 10

sqlite:
  host: "resources/database/"
  db_name: "mall.db"
  max_open_conns: 20
  max_idle_conns: 10

redis:
  host: "127.0.0.1"
  port: 6379 #6379
  password: "6nv2lxTHDVuQUQN9"
  db_name: 12
  pool_size: 100 #连接池大小

mongo:
  host: "127.0.0.1"
  port: 27017
  user: "admin"
  password: "6nv2lxTHDVuQUQN9"
  db_name: "api"
  auth_source: "admin"